
scripts/mgvm/*
scripts/mgvm-nobalance/*
scripts/private/*
scripts/shared/*

scripts2/mgvm*/*
scripts2/private*/*
scripts2/shared*/*
scripts2/xortlb*/
scripts2/bin/*


mgpusim/samples/*/*
!mgpusim/samples/*/*.go



scripts2/helper_functions/__pycache__/*
scripts2/error.*
scripts2/output.*
